.pricipal{
    width: 100%;
    height: auto;
    display: inline-flex;
    text-align: center;
   text-decoration: solid;
   justify-content: center;
    flex: none;
}

.pricipalTitulo{
    color: rgb(0, 255, 0);
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    width: 30%;
    font-weight: bolder;    
}

.logo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

